<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
    <!--<add name="Con" connectionString="Data Source=192.168.12.33;Initial Catalog=test123;User ID=sa;Password=password1$"/>-->
    <!--<add name="Con" connectionString="Data Source=192.168.12.33;Initial Catalog=TITLE_NEW_OMS_09_09_2019;User ID=sa;Password=password1$" />-->
    <add name="Con" connectionString="Data Source=192.168.12.33;Initial Catalog=DRN_ONE_PRODUCTION_PLOTFORM_05_2020*;User ID=sa;Password=password1$" />
    <add name="olddbCon" connectionString="Data Source=192.168.12.33;Initial Catalog=TITLE_EX_FINAL_OMS;User ID=sa;Password=password1$" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Spire.Pdf" publicKeyToken="663f351905198cb3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.20040" newVersion="4.3.0.20040" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
